<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <meta charset="UTF-8">
    <title>Moje wizyty</title>
</head>
<body>

<div th:insert="fragments/patientTopBar.html"></div>

<h1>Moje wizyty</h1>
<table>
    <tr>
        <th>Data</th>
        <th>Godzina</th>
        <th>Lekarz</th>
        <th>Odwołaj</th>
    </tr>
    <tr th:each="visit : ${visits}">
        <td th:text="${#temporals.format(visit.getDate(), 'dd-MM-yyyy')}"></td>
        <td th:text="${visit.getStart()}"></td>
        <td th:text="${visit.getDoctor().getUserName()}"></td>
        <td>
            <span th:if="${visit.getDate().plusHours(visit.getStart().getHour()).isAfter(visit.getDate().now())}">
                 <a th:href="@{'/patient/visit/delete/'+ ${visit.id}}">Odwołaj</a>
            </span>
            <span th:unless="${visit.getDate().plusHours(visit.getStart().getHour()).isAfter(visit.getDate().now())}"> - </span>
        </td>
    </tr>
</table>
</body>
</html>