<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>

<div th:insert="fragments/adminTopBar.html"></div>

<form th:object="${user}" method="post">
    <h3>Dodaj konto użytkownika: </h3>
    <table>
        <tr>
            <td>Nazwa użytkownika:</td>
            <td><input title="nazwa" type="text" th:field="*{userName}"></td>
        </tr>
        <tr>
            <td>Hasło:</td>
            <td><input type="text" th:field="*{password}" title="haslo"></td>
        </tr>
    </table>

    <input type="submit" value="Dodaj">

</form>

</body>
</html>