<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>

<div th:insert="fragments/adminTopBar.html"></div>

<h3>Utworzono konto użytkownika o nazwie: <span th:text="${user.userName}"></span></h3>

</body>
</html>