<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>

<div th:insert="fragments/adminTopBar.html"></div>

<h3>Lista użytkowników</h3>

<table>
    <tr>
        <th>Nazwa użytkownika</th>
        <th>Uprawnienia</th>
        <th>Nadaj uprawnienia</th>
        <th>zabierz uprawnienia</th>
        <th>Usuń użytkownika</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.userName}"></td>
        <td>
            <span th:each="role, iterStat : ${user.roles}"
                  th:text="${!iterStat.last} ? ${role.simplifiedRoleName} + ', ': ${role.simplifiedRoleName}">
            </span>
        </td>
        <td><a th:href="@{'/admin/user/' + ${user.id} + '/role/grant'}">x</a></td>
        <td><a th:href="@{'/admin/user/' + ${user.id}} + '/role/delete'" th:if="${user.roles.size()} > 0">x</a></td>
        <td><a th:href="@{'/admin/user/' + ${user.id} + '/delete'}">x</a></td>
    </tr>
</table>

<a th:href="@{/admin/user/add}">dodaj nowego użytkownika</a>

</body>
</html>