<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>

<div th:insert="fragments/adminTopBar.html"></div>

<p>
    Witaj w panelu administracyjnym
</p>

</body>
</html>