<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
</head>
<body>

<nav>
    <div class="container">
        <ul>
            <li>
                <a th:href="@{/}">strona główna</a>
            </li>
            <li>
                <a th:href="@{/patient}">panel pacjenta</a>
            </li>
            <li>
                <a th:href="@{/patient/visit/register}">umów się na wizytę</a>
            </li>
            <li>
                <a th:href="@{/patient/visit/incoming}"> nadchodzące wizyty </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>