<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/topBar.css}">
</head>
<body>

<nav>
    <div class="container">
        <ul>
            <li>
                <a th:href="@{/}">strona główna</a>
            </li>
            <li>
                <a th:href="@{/receptionist}">panel recepcjonisty</a>
            </li>
            <li>
                <a th:href="@{/receptionist/messages}"><span th:text="'(' + ${newMessages} + ')'"></span> wiadomości</a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>