<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>

<div th:insert="fragments/adminTopBar.html"></div>

<form th:action="@{'/admin/contactData/update/' + ${contactData.id}}" th:object="${contactData}" method="post">
    <h3>Dane Kontaktowe: </h3>
    <table>
        <tr>
            <td>Nazwa Przychodni:</td>
            <td><input title="nazwa" id="name" type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Numer telefonu:</td>
            <td><input title="numer" type="text" th:field="*{number}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input title="email" type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Adres:</td>
            <td><input title="adress" type="text" th:field="*{address}"></td>
        </tr>
    </table>

    <input type="submit" value="Zaaktualizuj dane">

</form>

</body>
</html>